{% extends 'base.html.twig' %}

{% block title %}AGEROUTE | Login
{% endblock %}

{% block body %}
	<style></style>
	<div class="jumbotron  overflow-hidden">
		<di class="row ">
			<div
				class=" col-lg-8 _bg">{# <img src="images/bg1.jpg"/> #}
			</div>
			<div class=" shadow-lg _loginfromspace  col-md-4 ">

				<div class="row  justify-content-center">
					<p class="_text">
						Agence de Gestion des Routes
					</p>
				</div>
				<form action="{{ path('login') }}" method="post" class=" m-lg-4 _login ">
					<div class=" row justify-content-center  _icon">
						<span class="text-center">
							<i class="fa fa-users"></i>
						</span>
					</div>
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3 text-center text-muted">
							<small>
								Connecter en tant que
								{{ app.user.username }},
								<a href=" nav-link  btn-sm  {{ path('logout') }}">Déconnection</a>
							</small>

						</div>
					{% endif %}
					<div
						class="form-group">
						{# <label for="email">Identifiant:</label> #}
						<input type="text" {{ last_username }} class=" _input" placeholder="" name="username" id="inputIdentifiant" required >
						<label for="" class="_label">Identifiant</label>
					</div>
					<div
						class="form-group">
						{# <label for="pwd">Mot de passe:</label> #}
						<input type="password" class=" _input" placeholder="" id="inputPassword" name="password" class="form-control" required>
						<label for="" class="_label">Mot de passe</label>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="row justify-content-end ">
						<div class="col">
							<div class=" form-check _check">
								<input type="checkbox" class="form-check-input rounded-0" id="exampleCheck1">
								<label class="form-check-label" for="exampleCheck1" name="_remember_me">Rester Connecter</label>
							</div>
						</div>
						<div class="col  ">
							<div class="_mdp">
								<a>Mot de passe oublié ?</a>
							</div>

						</div>

					</div>

				<div class="form-group">
					<button type="submit" class=" btn  mt-4 _btn">SE CONNECTER</button>

					<p class="text-muted mt-4">Agence de Gestion des Routes</p>

				</form>
			</div>
		</div>
	</div>
{% endblock %}
